
<div class="container">

    <div class="row">

      <div class="col-md-4"></div>

      <div class="col-md-4">

        <h1>LoginX</h1>


        <% if flash[:error].present? %>
          <div>
            <p><%= flash[:error] %></p>
          </div>
        <% end %>

        <%= form_tag(login_path) do %>


        <!-- <div class="form-group"> -->
          <!-- <label>Email address</label> -->
          <%= label_tag 'Email' %>
          <%= email_field_tag :email, nil, class: "form-control", placeholder: "Email address" %>
        <!-- </div> -->

        <!-- <div class="form-group"> -->
          <!-- <label>Password</label> -->
          <%= label_tag 'Password' %>
          <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
        <!-- </div> -->

        <!-- <div class="form-group"> -->
          <%= submit_tag "Login", class: "btn btn-info" %>
        <!-- </div> -->

        <% end %>
      <!-- </form> -->

        <div>
          New to us?
          <a href="/users/new">Sign Up</a>
        </div>
        </div>

        <div class="col-md-4"></div>

    </div> <!-- row -->

</div> <!--container -->
