
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <fieldset>

      <%= form_for @user, { html: { multipart: true } } do |f| %>

      <div class="form-group">
        <%= f.label :image %>
        <%= f.cl_image_upload :image, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :gender %>
        <%= f.select :gender,[ 'Male', 'Female' ], :prompt => 'Select One', class:"btn-primary dropdown-toggle" %>
      </div>

      <div class="form-group">
        <%= f.label :birthdate %>
        <%= f.date_field :dob, placeholder: "Date of Birth", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :country %>
        <%= f.select :country,[ 'Australia', 'USA', 'Canada', 'New Zealand' ], :prompt => 'Select One', placeholder: "Country" %>
      </div>

      <div class="form-group">
        <%= f.label :interests %>
        <%= f.text_field :interest, class: "form-control", placeholder: "Interests" %>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class:"btn btn-info" %>
      </div>

      <%= link_to 'Back', users_path(@user) %>

      <% end %>
      </fieldset>
      </div>

    <div class="col-md-4"></div>
  </div>
</div>
