<div class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      
    <h1>Search</h1>

    <%= form_tag users_result_path do %>

      <p>
        <%= label_tag :gender %><br />
        <%= text_field_tag :gender %>
      </p>
      <p>
        Age Between<br />
        <%= text_field_tag :minimum_age, nil, :size => 7 %> -
        <%= text_field_tag :maximum_age, nil, :size => 7 %>
      </p>
      <p>
        <%= label_tag :country %><br />
        <%= text_field_tag :country %>
      </p>
      <p>
        <%= label_tag :interest %><br />
        <%= text_field_tag :interest %>
      </p>
      <p><%= submit_tag "Search", class: "btn btn-info" %></p>

      <%= link_to 'Back to All Users', users_path %>

      <% end %>

    </div>

    <div class="col-md-4"></div>
  </div>
</div>
